* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.container {

  background-color: #ffffff;
  text-align: center;
  /* padding: 20px; */
  border-radius: 10px;

}



.header {

  background-color: purple;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;

}

label {
  padding: 10px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid purple;
  width: 80%;
}

